[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/high-volume-contract"]
	path = contracts/lib/high-volume-contract
	url = https://github.com/zeroXbrock/high-volume-contract
