[workspace]
members = [
    "crates/bundle_provider",
    "crates/cli/",
    "crates/core/",
    "crates/engine_provider",
    "crates/sqlite_db/",
    "crates/testfile/",
]

resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.86"
authors = ["Flashbots"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/flashbots/contender"
repository = "https://github.com/flashbots/contender"

[workspace.dependencies]
contender_core = { path = "crates/core/" }
contender_sqlite = { path = "crates/sqlite_db/" }
contender_testfile = { path = "crates/testfile/" }
contender_bundle_provider = { path = "crates/bundle_provider/" }
contender_engine_provider = { path = "crates/engine_provider/" }

eyre = "0.6.12"
tokio = { version = "1.40.0" }
tokio-util = "0.7"
alloy = { version = "0.12.5" }
alloy-signer = { version = "0.14.0", features = ["wallet"] }
serde = "1.0.209"
rand = "0.8.5"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3" }
prometheus = "0.14"

## cli
ansi_term = "0.12.1"
clap = { version = "4.5.16" }
csv = "1.3.0"
handlebars = "6.3.0"
plotters = "0.3.7"
webbrowser = "1.0.3"

## core
futures = "0.3.30"
async-trait = "0.1.82"
jsonrpsee = { version = "0.24" }
alloy-serde = "0.5.4"
serde_json = "1.0.132"
thiserror = "2.0.12"
tower = "0.5.2"
alloy-rpc-types-engine = { version = "0.12.5", default-features = false }
alloy-json-rpc = { version = "0.12.5", default-features = false }

## sqlite
r2d2_sqlite = "0.25.0"
rusqlite = "0.32.1"
r2d2 = "0.8.10"

## testfile
toml = "0.8.19"
