[package]
edition = "2021"
name = "contender_cli"
version = "0.1.0"

[[bin]]
name = "contender"
path = "src/main.rs"

[dependencies]
contender_core = {workspace = true}
contender_sqlite = {workspace = true}
contender_testfile = {workspace = true}
serde = {workspace = true}
tokio = {workspace = true, features = ["rt-multi-thread"]}

alloy = {workspace = true, features = ["full", "node-bindings", "rpc-types-debug", "rpc-types-trace"]}
chrono = "0.4.39"
clap = {workspace = true, features = ["derive"]}
csv = {workspace = true}
futures.workspace = true
handlebars = {workspace = true}
plotters = {workspace = true}
rand.workspace = true
regex = "1.11.1"
serde_json = {workspace = true}
termcolor = "1.4.1"
webbrowser = {workspace = true}
op-alloy-consensus = { workspace = true, features = ["alloy-compat"] }

[dev-dependencies]
tempfile = "3.15.0"
