[[create]]
name = "Consumer"
# https://github.com/zeroXbrock/high-volume-contract/blob/main/src/libs/Consumer.sol
bytecode_file = { path = "../contracts/Consumer.hex" }

# small numbers
[[spam]]
[spam.tx]
to = "{Consumer}"
signature = "modexp(uint256 base, uint256 exponent, uint256 modulus)"
args = ["1", "2", "1"]
fuzz = [
    { param = "base", min = "1", max = "0xffffffff" },
    { param = "exponent", min = "1", max = "100" },
    { param = "modulus", min = "1", max = "0xffff" },
]

# medium numbers
[[spam]]
[spam.tx]
to = "{Consumer}"
# we need to rename the parameters here to avoid conflicts with the previous fuzz definition
signature = "modexp(uint256 base2, uint256 exponent2, uint256 modulus2)"
args = ["2", "8", "9"]
fuzz = [
    { param = "base2", min = "0xffff", max = "0xffffffffffffffffffffffffffffffff" },
    { param = "exponent2", min = "0x0fff", max = "0xffffffff" },
    { param = "modulus2", min = "0xff", max = "0xffffffffffff" },
]

# large numbers
[[spam]]
[spam.tx]
to = "{Consumer}"
signature = "modexp(uint256 base3, uint256 exponent3, uint256 modulus3)"
args = ["2", "8", "9"]
fuzz = [
    { param = "base3", min = "0xffffffffffffffff", max = "0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff" },
    { param = "exponent3", min = "0xffffffff", max = "0xffffffffffffffffffffffffffffffff" },
    { param = "modulus3", min = "0xffffffff", max = "0xffffffffffffffffffffffffffffffff" },
]
