name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test on ${{ matrix.configs.runner }}
    runs-on: ${{ matrix.configs.runner }}
    strategy:
      matrix:
        configs:
          - runner: warp-ubuntu-latest-x64-16x
          - runner: warp-ubuntu-latest-arm64-16x

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Install Foundry
      uses: foundry-rs/foundry-toolchain@v1
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
      with:
        cache-on-failure: true
    - name: Install deps
      run: sudo apt-get update && sudo apt-get install -y libsqlite3-dev fontconfig libfontconfig1-dev libfontconfig uuid-dev
    - name: Run tests
      run: cargo test --verbose --workspace
